<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-buttons slot="start">
                <ion-back-button defaultHref="/" color="primary"></ion-back-button>
            </ion-buttons>
        </ion-buttons>
        <ion-title color="primary">List - Reorder</ion-title>
        <ion-buttons slot="end" color="primary">
            <ion-button (click)="onClickToggle()">
                Toggle
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-reorder-group disabled="false" (ionItemReorder)="doReorder($event)">
            <ion-item *ngFor="let c of characters">
                <ion-label>{{ c }}</ion-label>
                <ion-reorder slot="end"></ion-reorder>
            </ion-item>
        </ion-reorder-group>
    </ion-list>
</ion-content>